.box {
    height: 100px;
    width: 300px;
    background-color: red;

    /* animation-name: widthAnimate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    /* animation-direction: normal; */ 

    animation: colAnimate 3s ease-in 0s 2 normal;
}

@keyframes colAnimate {
    0% {
        background-color: green;
    }        

    50% {
        background-color: yellow;
    }
    80% {
        background-color: orange;
    }
    100% {
        background-color: red;
    }    
}        
    


@keyframes fontAnimation {
    from {
        font-size: 20px;
    }
    to {
        font-size: 40px;
    }
}

@keyframes colorAnimate {
    from {
        background-color: green;
    }
    to {
        background-color: orange;
    }
}